rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    //----------------------------------------------------------------//
    //                        Helper Functions                        //
    //----------------------------------------------------------------//

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(ownerId) {
      return isOwner(ownerId) && resource != null;
    }

    function isCreatingValidUserProfile(userId) {
      let data = request.resource.data;
      return isOwner(userId)
             && data.id == userId
             && data.email == request.auth.token.email
             && data.username == request.resource.data.username
             && data.highestWPM == 0
             && data.gamesPlayed == 0;
    }

    //----------------------------------------------------------------//
    //                       Collection Rules                         //
    //----------------------------------------------------------------//

    match /users/{userId} {
      allow get: if isOwner(userId);
      allow list: if false; // Users should not be able to list all other users
      allow create: if isCreatingValidUserProfile(userId);
      allow update, delete: if isOwner(userId);

    }
  }
}
