@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 185 11% 18%;
    --foreground: 0 0% 98%;
    --card: 185 11% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 185 11% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 185 11% 10%;
    --secondary: 185 11% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 185 11% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 129 100% 53%;
    --accent-foreground: 129 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 185 11% 28%;
    --input: 185 11% 28%;
    --ring: 182 100% 74%;
    --radius: 0.5rem;
    --chart-1: 182 100% 74%;
    --chart-2: 129 100% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
